<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <h1>Pages#one</h1>
    <p>Find me in app/views/pages/one.html.erb</p>

    <h1>Marisol Smith Irazábal</h1>
    
  </body>
</html>
